<app-navbar></app-navbar>
<!--

<style>
table, th, td, tr {
  border:1px solid black;
}
</style>

-->

<h1 class = "div">Quarterbacks: How important are they?</h1>
<p class = "div">See the links on the navbar to navigate through our project proposal.</p>
<div class="home-background">

</div>
<!--
<h3 class = "div">***PLEASE IGNORE THE BELOW DISPLAY FOR NOW, WE ARE WORKING TO DISPLAY OUR DATA SET IN A NEAT FORMAT***</h3>
<hr>

<table *ngFor="let nfl of nfldata">
    <td>{{ nfl }}</td>
</table>

<table *ngFor="let nfl of nflheaders">
    <td>{{ nfl }}</td>
</table>
-->


