<app-navbar></app-navbar>
<h1 class ="div">Project Proposal</h1>
<p style="text-align:center;">Our project aims to predict team performance in the NFL based on Quarterback play. To the casual fan, the NFL seems to be dominated by teams that are fortunate enough to have high QB play. Our project will aim to not only determine the importance of QB play to a team's success, but also predict the likelihood of future team success based on their current QB.
</p>
<hr>
<h2 class ="div">Dataset</h2>
<p style="text-align:center;">We are using this dataset from Kaggle: <a class ="a">https://www.kaggle.com/datasets/omzqwonxei/nfl-passing-statistics-20092018?select=pass-2010.csv</a> We have cleaned the data and it will be displayed shortly in a table format.</p>
<hr>
<h2 class ="div">Motivations</h2>
<p style="text-align:center;">Our motivations are to predict a team's success based on their current QB and his career stats. We are both avid Carolina Panthers fans and are hoping for an upgrade at Quarterback soon! We would like to know what to expect out of our team and other team's around the NFL for years to come.</p>
<hr>
<h2 class ="div">Potential Techniques</h2>
<p style="text-align:center;">We plan on developing several models and comparing their effectiveness, accuracy, etc. Updates will be provided on that front soon.</p>
<hr>

